<div class="main users-index">
  <div class="arrange-container">
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <%= link_to("/users/#{user.id}") do %>
            <img src="<%= "/user_images/#{user.image}" %>">          
          <% end %>
        </div>
        <div class="user-right">
          <div class="user-right-name">
            <%= link_to(user.name, "/users/#{user.id}") %>
          </div>
        </div>
        
            <% if user.posts.present? %>
              <span class="rating-star rating-star-index">
                <i class="star-actived rate-<%= user.posts_average %>0"></i>
              </span>
            <% else %>
              <span class="rating-star rating-star-index">
                <i class="star-actived rate-0"></i>
              </span>
            <% end %>
          
      </div>
    <% end %>
  </div>
</div>