<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
  </div>
  <%= form_tag("/posts/create") do %>
    <div class="form">
      <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <div style="margin: 8px 0">
            <p>id</p>
            <input name="a" value="<%= @id %>" readonly>
            <p>評価</p>
            <input type="number" name="rate" value= "1", max= "10", min= "1", placeholder: "評価">
          </div>
          <p>コメント</p>
          <textarea name="content", placeholder="コメントを書いてください"><%= @post.content %></textarea>
          <input type="submit" value="投稿">
        </div>
    </div>
  <% end %>
</div>